<div class="container">
  <div class="pure-g">
    <div class="pure-u-1 relative">
      <a href="https://online.unlv.edu" target="_blank" ng-if="!includes.oeMenu"><img class="oe-logo" src="//courses.online.unlv.edu/courses/images/Online_Education_500w_trimmed.png" alt="UNLV Online Education Logo"></a>
      <p class="copyright">
        &copy; {{copyright}} UNLV Online Education
      </p>
    </div>
  </div>
</div>